# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
lib-cov
coverage
.nyc_output

# Production build
build/
dist/

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
